*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    background: transparent;
}

:root{
    --bg-color: #6e6e24;
    --text-color: black;
}

/* Header */

.header {
    z-index: 1;
    position: fixed;
    height: 75px;
    display: flex;
    left: 0;
    right: 0;
    padding: 0px 10%;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
  
.logo {
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
  
.navbar a {
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
}
  
.navbar {
    margin-left: 50px;
}
  
.navbar a:hover {
    color: var(--bg-color);
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
}

/* About us */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 75%;
}

.about-us .in4 {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-us .in4 .card {
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: whitesmoke;
    margin-top: 200px;
}

.about-us .in4 .card a {
    color: white;
}

/* Trung */

#Trung {
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
}

#Trung img {
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

#Trung div {
    padding: 10px 0;
}

#Trung a {
    text-transform: uppercase;
    border-style: solid;
    font-size: 12px;
    padding: 5px;
    border-radius: 5rem;
}

#Trung h3 {
    text-transform: uppercase;
    padding-top: 20px;
}

/* Duy */

#Duy {
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
}

#Duy img {
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

#Duy div {
    padding: 10px 0;
}

#Duy a {
    text-transform: uppercase;
    border-style: solid;
    font-size: 12px;
    padding: 5px;
    border-radius: 5rem;
}

#Duy h3 {
    text-transform: uppercase;
    padding-top: 20px;
}

/* Hoan */

#Hoan {
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
}

#Hoan img {
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

#Hoan div {
    padding: 10px 0;
}

#Hoan a {
    text-transform: uppercase;
    border-style: solid;
    font-size: 12px;
    padding: 5px;
    border-radius: 5rem;
}

#Hoan h3 {
    text-transform: uppercase;
    padding-top: 20px;
}

/* Duc */

#Duc {
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
}

#Duc img {
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

#Duc div {
    padding: 10px 0;
}

#Duc a {
    text-transform: uppercase;
    border-style: solid;
    font-size: 12px;
    padding: 5px;
    border-radius: 5rem;
}

#Duc h3 {
    text-transform: uppercase;
    padding-top: 20px;
}

/* Dong */

#Dong {
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
}

#Dong img {
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

#Dong div {
    padding: 10px 0;
}

#Dong a {
    text-transform: uppercase;
    border-style: solid;
    font-size: 12px;
    padding: 5px;
    border-radius: 5rem;
}

#Dong h3 {
    text-transform: uppercase;
    padding-top: 20px;
}



