* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    background: transparent;
}

:root {
    --bg-color: #6e6e24;
    --text-color: black;
}

/* -- Header -- */

.header {
    z-index: 1;
    position: fixed;
    height: 75px;
    display: flex;
    left: 0;
    right: 0;
    padding: 0px 10%;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
  
.logo {
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
  
.navbar a {
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
}
  
.navbar {
    margin-left: 50px;
}
  
.navbar a:hover {
    color: var(--bg-color);
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
}

/* Contact us */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 75%;
}

.contact-us {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-us .content {
    max-width: 800px;
    text-align: center;
    z-index: 1;
}

.contact-us .content h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 50px;
}

.contact-us .content p {
    margin-top: 20px;
    font-weight: 500;
    color: var(--text-color);
    font-size: 17px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container .contact-in4 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-in4 .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-in4 .box .icon {
    min-width: 50px;
    height: 50px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50%;
    font-size: 15px;
}

.container .contact-in4 .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 300;
    flex-direction: column;
}

.container .contact-in4 .box .text h3 {
    font-weight: 500;
    color: var(--text-color);
    font-weight: bold;
}

.container .contact-in4 .box .text p {
    font-weight: 400;
    font-size: 20px;
}

.contact-form {
    border-style: solid;
    width: 40%;
    padding: 40px;
    border-radius: 5%;
    border-color: black;
    z-index: 1;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border-style: solid;
}

.contact-form .input-box button {
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    justify-content: center;
}

.contact-form .input-box textarea {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 20px;
    border-style: solid;
    width: 100%;
    height: 120px;
}