* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: var(--bg-color);
}
  
:root {
    --bg-color: #ccc;
    --text-color: black;
}

/* Header */

.header {
    z-index: 1;
    position: fixed;
    height: 75px;
    display: flex;
    left: 0;
    right: 0;
    padding: 0px 10%;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
  
.logo {
    line-height: 75px;
}
  
.navbar a {
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
}
  
.navbar {
    margin-left: 50px;
}
  
.navbar a:hover {
    color: black;
    background-color: #ccc;
    display: inline-block;
}

.navbar:focus {
    background-color: #ccc;
    display: inline-block;
}

/* Contact us */

.contact-us {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-us .content {
    max-width: 800px;
    text-align: center;
}

.contact-us .content h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.contact-us .content p {
    font-weight: 300;
    color: var(--text-color);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container .contact-in4 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-in4 .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-in4 .box .icon {
    min-width: 60px;
    height: 60px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.container .contact-in4 .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 300;
    flex-direction: column;
}

.container .contact-in4 .box .text h3 {
    font-weight: 500;
    color: var(--text-color);
}

.contact-form {
    border-style: solid;
    width: 40%;
    padding: 40px;
    background: var(--bg-color);
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border-style: solid;
    border-bottom: 5px solid #333;
}
