*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg-color: black;
    --text-color: white;
}

/* -- NAVBAR -- */

.navbar_container {
    position: fixed;
    height: 75px;
    display: flex;
    background-color: var(--bg-color);
    left: 0;
    right: 0;
    padding: 0px 10%;
    justify-content: space-between;
}

.search{
    line-height: 75px;
    color: var(--text-color);
    font-size: 20px;
    font-size: 600;
}

.searchbar{
    line-height: 75px;
    border-style: solid;
    
}

.logo{
    line-height: 75px;
}

.navbar a{
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 50px;
}

.navbar a:hover{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: 100vh;
}

/* -- GAME DISPLAY -- */

.game_container{
    padding-top: 75px;
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100%;
    width: auto ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game_list {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
  }

.game_item {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    background-color: lightblue;
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 0 20px;
  }


