* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-color)
}
  
html{
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --bg-color: black;
  --text-color: white;
}

/* Header */

.header{
  position: fixed;
  background-color: var(--bg-color);
  display: flex;
  height: 75px;
  padding: 0px 5%;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}
  
.logo{
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  line-height: 75px;
  margin-left: 35px;
  font-weight: 600;
}

.navbar li{
  display: inline-block;
}

.navbar li a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  line-height: 75px;
  padding: 0 20px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}

.navbar li:hover a{
  color: #000;
  background-color: #ccc;
  display: inline-block;
}

  
.navbar {
  margin-left: 50px;
}

/* Home */

.home{
  text-align: center;
  height: 100vh;
  display: block;
  justify-content: center;
}

.home-icon{
  padding-top: 400px;
}

.home-icon a{
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  margin: 0 20px;
}

.home-content{
  background-color: aquamarine;
  text-transform: uppercase;
  padding-top: 200px;
  font-size: 30px;
}

/* About me */

.about-me{
  justify-content: center;
}

.about-me-content{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
