*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-color: black;
    --text-color: white;
}

/* Header */

.header {
    position: fixed;
    height: 75px;
    display: flex;
    background-color: var(--bg-color);
    left: 0;
    right: 0;
    padding: 0px 10%;
    justify-content: space-between;
}

.search{
    line-height: 75px;
    color: var(--text-color);
    font-size: 20px;
    font-size: 600;
}

.searchbar{
    line-height: 75px;
    border-style: solid;
    
}

.logo{
    line-height: 75px;
}

.navbar a{
    line-height: 75px;
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
}

.navbar{
    margin-left: 50px;
}

.navbar a:hover{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

/* About us */

.about-us{
    height: 100vh;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    justify-content: space-evenly;
}

.Trung{
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    color: #000;
}

.Trung img{
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

.Trung div{
    padding: 10px 0;
}

.Trung a{
    text-transform: uppercase;
    border-style: solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 5rem;
}

.Trung h3{
    text-transform: uppercase;
    padding-top: 20px;
}

.Duy{
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    color: #000;
}

.Duy img{
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

.Duy div{
    padding: 10px 0;
}

.Duy a{
    text-transform: uppercase;
    border-style: solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 5rem;
}

.Duy h3{
    text-transform: uppercase;
    padding-top: 20px;
}

.Hoan{
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    color: #000;
}

.Hoan img{
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

.Hoan div{
    padding: 10px 0;
}

.Hoan a{
    text-transform: uppercase;
    border-style: solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 5rem;
}

.Hoan h3{
    text-transform: uppercase;
    padding-top: 20px;
}

.Duc{
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    color: #000;
}

.Duc img{
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

.Duc div{
    padding: 10px 0;
}

.Duc a{
    text-transform: uppercase;
    border-style: solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 5rem;
}

.Duc h3{
    text-transform: uppercase;
    padding-top: 20px;
}

.Dong{
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    color: #000;
}

.Dong img{
    margin-top: 10px;
    height: 220px;
    width: 220px;
    border: solid;
}

.Dong div{
    padding: 10px 0;
}

.Dong a{
    text-transform: uppercase;
    border-style: solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 5rem;
}

.Dong h3{
    text-transform: uppercase;
    padding-top: 20px;
}

/* Contact */





