* {
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: black;
  --nav-color: blue;
}

.header{
  background-color: var(--bg-color);
  padding: 50px;
  border: 50px;
  border-style: solid;
  border-color: blue;
  box-sizing: border-box;
}

.navbar{
  border-style: solid;
  border-color: yellow;
}

.navbar a{
  background-color: --bg-color;
  text-decoration: none;
  margin-left: 100px;
}